# Sprint 4

**Team Name: KK** 

**Members:**

- KETAN PANDEY
- KRESHIV JAI CHAWLA

In [49]:
# import packages

import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay

In [50]:
# Load the detected trees from the ALS data and the fast fuels treelist

TLS_treetops = pd.read_csv('./terrestrial-lidar-scans-tls-and-derived-tree-lists-for-field-sampled-plots-for-uc-climate-actio//TLS_treelist.csv')
treelist = pd.read_csv('./fia-database-california/CA_TREE.csv', low_memory=False) 
fia_ref_species_table = pd.read_csv('./fia-database-california/REF_SPECIES.csv')

In [51]:
TLS_treetops

,Unnamed: 0,TreeID,X,Y,Radius,Error,H,h_radius,DBH,BasalA,plot_blk
0,0,1,10.673382,2.127033,0.266540,0.001199,12.560,1.3,20.987379,2.402324,CAFKU_0101_20240802_1
1,3,6,2.429448,1.055521,0.166444,0.000730,8.742,1.3,13.105771,0.936786,CAFKU_0101_20240802_1
2,4,8,2.149436,0.950025,0.759981,0.001151,13.469,1.3,59.840890,19.530404,CAFKU_0101_20240802_1
3,5,9,1.962382,8.781092,0.267219,0.001217,18.144,1.3,21.040854,2.414582,CAFKU_0101_20240802_1
4,6,12,1.433234,0.234223,0.208154,0.000543,13.790,1.3,16.390056,1.465130,CAFKU_0101_20240802_1
...,...,...,...,...,...,...,...,...,...,...,...
1377,17,21,-9.820196,2.799561,0.220015,0.000291,30.631,1.3,17.323968,1.636854,CATCU_0016_20240929_1
1378,18,22,2.043417,-9.313768,0.308002,0.000450,23.077,1.3,24.252048,3.207835,CATCU_0016_20240929_1
1379,20,24,-8.147035,6.844047,0.226510,0.000211,30.127,1.3,17.835430,1.734931,CATCU_0016_20240929_1
1380,21,25,-2.692303,-8.172273,0.180451,0.000266,29.300,1.3,14.208700,1.101093,CATCU_0016_20240929_1
1381,24,29,-0.921843,7.355087,0.092751,0.000158,11.664,1.3,7.303247,0.290902,CATCU_0016_20240929_1

In [52]:
treelist

,CN,PLT_CN,PREV_TRE_CN,INVYR,STATECD,UNITCD,COUNTYCD,PLOT,SUBP,TREE,...,VOLCSNET_BARK,DRYBIO_STEM,DRYBIO_STEM_BARK,DRYBIO_STUMP_BARK,DRYBIO_BOLE_BARK,DRYBIO_BRANCH,DRYBIO_FOLIAGE,DRYBIO_SAWLOG_BARK,PREV_ACTUALHT_FLD,PREV_HT_FLD
0,675267,11839,NaN,1994,6,1,15,1,1,675267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,675268,11839,NaN,1994,6,1,15,1,1,675268,...,NaN,NaN,NaN,17.718832,469.383932,NaN,NaN,NaN,NaN,NaN
2,675269,11839,NaN,1994,6,1,15,1,1,675269,...,NaN,NaN,NaN,10.354492,143.559569,NaN,NaN,NaN,NaN,NaN
3,675270,11839,NaN,1994,6,1,15,1,1,675270,...,NaN,NaN,NaN,5.959414,68.141174,NaN,NaN,NaN,NaN,NaN
4,675271,11839,NaN,1994,6,1,15,1,1,675271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427514,1288119594290487,750083033290487,NaN,2021,6,6,73,77509,3,15,...,NaN,1.422900,0.386542,NaN,NaN,0.253708,0.787288,NaN,NaN,NaN
427515,1288119595290487,750083033290487,NaN,2021,6,6,73,77509,3,16,...,NaN,17.797914,3.597250,NaN,NaN,9.646469,9.169736,NaN,NaN,NaN
427516,1288119296290487,750082993290487,4.475655e+13,2021,6,6,73,87669,4,112,...,1.397503,195.318081,37.116506,5.689291,30.899558,226.160257,28.434277,23.236013,NaN,NaN
427517,1288119300290487,750082993290487,NaN,2021,6,6,73,87669,4,145,...,NaN,42.222643,8.760547,1.398266,4.988934,20.620192,5.873709,NaN,NaN,NaN
427518,1288119301290487,750082993290487,NaN,2021,6,6,73,87669,4,146,...,9.650431,1559.818825,201.803878,18.824540,182.671880,1729.839291,97.744293,178.006135,NaN,NaN

In [53]:
fia_ref_species_table

,CN,SPCD,COMMON_NAME,SHARED_COMMON_NAME_IND,GENUS,SPECIES,VARIETY,SUBSPECIES,SPECIES_SYMBOL,E_SPGRPCD,...,STANDING_DEAD_DECAY_RATIO5,CARBON_RATIO_LIVE,MANUAL_START,MANUAL_END,CREATED_BY,CREATED_DATE,CREATED_IN_INSTANCE,MODIFIED_BY,MODIFIED_DATE,MODIFIED_IN_INSTANCE
0,397174035732862,6156.0,Norfolk Island pine,Y,Araucaria,excelsa,NaN,NaN,AREX4,51,...,0.400,0.479,5.0,NaN,FS_NIMS_SRS,2023-03-06 13:26:10,440,FS_NIMS,2023-06-14 19:19:42,732862.0
1,397174036732862,6157.0,Norfolk Island pine,Y,Araucaria,heterophylla,NaN,NaN,ARHE12,51,...,0.539,0.475,5.0,NaN,NIMS_TROP_4_0,2023-03-06 13:26:10,10854,FS_NIMS,2023-05-25 22:32:46,732862.0
2,397174037732862,6158.0,Araucaria,N,Araucaria,spp.,NaN,NaN,ARAUC2,51,...,NaN,0.477,5.0,NaN,FS_NIMS_SRS,2023-03-06 13:26:10,440,FS_NIMS_RMRS,2023-05-25 22:32:46,67572.0
3,397174038732862,6159.0,Alexandra palm,N,Archontophoenix,alexandrae,NaN,NaN,ARAL,53,...,0.539,0.464,5.0,NaN,FS_NIMS_SRS,2023-03-06 13:26:10,440,FS_NIMS_PNWRS,2023-05-25 22:32:46,67572.0
4,397174039732862,6160.0,Bangalow palm,N,Archontophoenix,cunninghamiana,NaN,NaN,ARCU2,53,...,0.541,0.475,1.7,NaN,FS_NIMS,2023-03-06 13:26:10,981125,FS_NIMS,2023-05-25 22:32:46,732862.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2672,397176611732862,6499.0,broadleaf papala,N,Charpentiera,obovata,NaN,NaN,CHOB2,54,...,NaN,0.476,5.0,NaN,FS_NIMS_SRS,2023-03-06 13:26:10,440,FS_NIMS_PNWRS,2023-05-25 22:32:46,798795.0
2673,397176612732862,6500.0,Koolau Range papala,N,Charpentiera,ovata,NaN,NaN,CHOV2,54,...,0.539,0.476,5.0,NaN,FS_NIMS_SRS,2023-03-06 13:26:10,440,FS_NIMS_PNWRS,2023-05-25 22:32:46,67572.0
2674,397176613732862,6503.0,papala,N,Charpentiera,spp.,NaN,NaN,CHARP,54,...,NaN,0.476,5.0,NaN,FS_NIMS_SRS,2023-03-06 13:26:10,440,FS_NIMS_PNWRS,2023-05-25 22:32:46,798795.0
2675,397176614732862,6507.0,Domins club,N,Cheirodendron,dominii,NaN,NaN,CHDO3,54,...,NaN,0.477,5.0,NaN,FS_NIMS_SRS,2023-03-06 13:26:10,440,FS_NIMS_PNWRS,2023-05-25 22:32:46,798795.0
2676,397176615732862,6508.0,Fauries club,N,Cheirodendron,fauriei,NaN,NaN,CHFA,54,...,NaN,0.477,5.0,NaN,FS_NIMS_SRS,2023-03-06 13:26:10,440,FS_NIMS_PNWRS,2023-05-25 22:32:46,798795.0

In [54]:
# site_shortname = ['ind', 'SHA', 'SDR', 'win', 'puc', 'tcu']
site_name = 'SHA'

In [58]:
# rename the height column for the ALS file
TLS_treetops = TLS_treetops.rename(columns = {'H': 'HT', 'DBH': 'DIA'})

In [59]:
# Create a dictionary mapping SPCD to COMMON_NAME
spcd_to_common_name = dict(zip(fia_ref_species_table['SPCD'], fia_ref_species_table['COMMON_NAME']))

In [60]:
TLS_treetops

,Unnamed: 0,TreeID,X,Y,Radius,Error,HT,h_radius,DIA,BasalA,plot_blk
0,0,1,10.673382,2.127033,0.266540,0.001199,12.560,1.3,20.987379,2.402324,CAFKU_0101_20240802_1
1,3,6,2.429448,1.055521,0.166444,0.000730,8.742,1.3,13.105771,0.936786,CAFKU_0101_20240802_1
2,4,8,2.149436,0.950025,0.759981,0.001151,13.469,1.3,59.840890,19.530404,CAFKU_0101_20240802_1
3,5,9,1.962382,8.781092,0.267219,0.001217,18.144,1.3,21.040854,2.414582,CAFKU_0101_20240802_1
4,6,12,1.433234,0.234223,0.208154,0.000543,13.790,1.3,16.390056,1.465130,CAFKU_0101_20240802_1
...,...,...,...,...,...,...,...,...,...,...,...
1377,17,21,-9.820196,2.799561,0.220015,0.000291,30.631,1.3,17.323968,1.636854,CATCU_0016_20240929_1
1378,18,22,2.043417,-9.313768,0.308002,0.000450,23.077,1.3,24.252048,3.207835,CATCU_0016_20240929_1
1379,20,24,-8.147035,6.844047,0.226510,0.000211,30.127,1.3,17.835430,1.734931,CATCU_0016_20240929_1
1380,21,25,-2.692303,-8.172273,0.180451,0.000266,29.300,1.3,14.208700,1.101093,CATCU_0016_20240929_1
1381,24,29,-0.921843,7.355087,0.092751,0.000158,11.664,1.3,7.303247,0.290902,CATCU_0016_20240929_1

In [ ]:
# Split into training and test sets
independent_variables = ["HT", "DIA"]
dependent_variable = "SPCD"
include_variables = independent_variables + [dependent_variable]
trees_train, trees_test = train_test_split(treelist[include_variables].dropna(), test_size=0.2)
print(f"Training set size: {len(trees_train)}")
print(f"Test set size: {len(trees_test)}")

# Train the model
model_spcd = RandomForestClassifier()
model_spcd.fit(trees_train[independent_variables], trees_train[dependent_variable])

# Predict the model
predicted_spcd_test = model_spcd.predict(trees_test[independent_variables])
predicted_spcd = model_spcd.predict(TLS_treetops[independent_variables])


# Evaluate classification accuracy
unique_species = sorted(trees_test[dependent_variable].unique())
species_names = [spcd_to_common_name.get(spcd, f"Unknown ({spcd})") for spcd in unique_species]
report = classification_report(trees_test[dependent_variable], predicted_spcd_test, zero_division=0, target_names=species_names)
print(report)